
{% extends "base.html" %}
{% block content %}
<h3>Настройки алёртинга</h3>
<form method="post" class="mt-3">
  {% for k, v in vals.items() %}
    <div class="mb-3">
      <label class="form-label">{{ labels[k] }}</label>
      <input name="{{k}}" class="form-control" value="{{ v }}">
      <div class="form-text"><code>{{k}}</code></div>
    </div>
  {% endfor %}
  <div class="mb-3">
    <label class="form-label">Куда шлём (определяется автоматически):</label>
    <input class="form-control" value="{{ dest }}" disabled>
  </div>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}
